eager_inputs/
eager_outputs/
scripts/.credentialsCluster
scripts/Probe_Set_Pathogens.csv
debugging/
scripts/.nfs*
queue/
array_Logs/
scripts/.nextflow/
scripts/.log
scripts/.eager_input_log
scripts/*test*
scripts/test/*/*/*
.DS_Store
