// Profile to change parameters if needed
profiles {
  // Base autorun profile with setting that apply to all analysis types.
  autorun {
   // No cleanup until PublishDir solution for maltextract
    cleanup = false
    params {
      // Specific nf-core/configs params
      config_profile_contact = 'Aida Andrades Valtuena (@aidaanva)'
      config_profile_description = 'Autorun_eager profile for automated pathogen deep screening in EVA'
    }
    process {
      queue = "all.q"
    }
  }
   local_paths {
      params {
         //PhiX mapping to trigger metagenomic stream in nf-core/eager
         fasta = '/mnt/archgen/pathogen_resources/screening/Autorun_deepscreening/References/PhiX/Escherichia_phage_phiX174_NC001422.fasta'
         //fasta_index = '/mnt/archgen/pathogen_resources/screening/Autorun_deepscreening/References/PhiX/Escherichia_phage_phiX174_NC001422.fasta.fai'
         //bwa_index = '/mnt/archgen/pathogen_resources/screening/Autorun_deepscreening/References/PhiX/'
         //seq_dict = '/mnt/archgen/pathogen_resources/screening/Autorun_deepscreening/References/PhiX/Escherichia_phage_phiX174_NC001422.dict'
         //maltextract files
         maltextract_taxon_list = '/mnt/archgen/pathogen_resources/screening/pathogen-lists/Curated_pathogenlist_DeepScreening_20230220.txt'
         maltextract_ncbifiles = '/mnt/archgen/pathogen_resources/screening/resources/20220923_HOPS_resources/'
      }
   }

   Bacterial_Viral_Prescreening {
      params {
         config_profile_description = 'HOPs screening MPI-EVA mapping to PhiX to trigger screening from unmapped fastq'
         //Skip pre mapping steps, assumes fastq has been already through adapter removal
         skip_fastqc = true
         skip_adapterremoval = true
         skip_preseq = true
         skip_deduplication = true
         skip_damage_calculation = true
         skip_qualimap = true

         run_bam_filtering = true
         bam_unmapped_type = 'fastq'

         //Malt database
         database = '/mnt/archgen/malt/databases/indexed/index061/rep_ref_BacteriaJan2023_ReducedViralDB_step2'


         //HOPS parameters
         run_metagenomic_screening = true
         metagenomic_complexity_filter = false
         metagenomic_complexity_entropy = 0.3
         metagenomic_tool = 'malt'
         metagenomic_min_support_reads = 1
         percent_identity = 85
         malt_mode = 'BlastN'
         malt_alignment_mode = 'SemiGlobal'
         malt_top_percent = 1
         malt_min_support_mode = 'reads'
         malt_min_support_percent = 0.01
         malt_max_queries = 100
         malt_memory_mode = 'load'
         malt_sam_output = false
         run_maltextract = true
         maltextract_filter = 'def_anc'
         maltextract_toppercent = 0.01
         maltextract_destackingoff = false
         maltextract_downsamplingoff = false
         maltextract_duplicateremovaloff = false
         maltextract_matches = false
         maltextract_megansummary = true
         maltextract_percentidentity = 85.0
         maltextract_topalignment = false
      }
      process {
         withName: malt {
            clusterOptions = { "-S /bin/bash -V -l h_vmem=390G,virtual_free=390G" }
            cpus = 36
            memory = 350.GB            
            }
      }
   }
}
